<h1>{{title}}</h1>
<nav>
    <!-- [routerLink] -> to pass a dynamic parameters to the link you're navigating to -->
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>  
    <!-- routerLink ->  to pass a static path as a string.without brakets you're passing string only and you can't
         change it, it's hard coded and it'll be like that throughout your app -->
        <a routerLink="/heroes" routerLinkActive="active">Heroes</a>   
</nav>
<router-outlet></router-outlet>