  
<div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero == selectedHero">
      <span class="badge">{{hero.id}}.</span> {{hero.name}}
    </li> 
  </ul>
</div>
<div *ngIf = "selectedHero">
    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

                <!-- The hero property is an input property -->


<!-- parent AppComponent will tell the child HeroDetailComponent which hero to display by binding its selectedHero
   to the hero property of the HeroDetailComponent-->


 <!-- <hero-detail [hero]="selectedHero"></hero-detail>  //uncomment it when re-implementing the master/detail style.-->
 
 <!--it's the tag name of the element that represents the HeroDetailComponent -->
<!-- Putting square brackets around the hero property, to the left of the equal sign (=), makes it the target of a
   property binding expression -->
   <!-- Now every time the selectedHero changes, the HeroDetailComponent gets a new hero to display. -->